<!DOCTYPE html>
<html lang="en">

<head>
    <title>지도 올인원 | 어드민페이지</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <style>
        /*
        DEMO STYLE
    */

    body {
        font-family: 'Nanum Gothic', sans-serif;
        background: #fafafa;
    }
    
    p {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    /* .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    } */
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed grey;
        margin: 40px 0;
    }
    
    i,
    span {
        display: inline-block;
    }
    
    /* ---------------------------------------------------
        NAVBAR STYLE
    ----------------------------------------------------- */
    
    header{
        height: 50px;
        z-index: 999;
        position: -webkit-sticky; /* 사파리 브라우저 지원 */
        position: sticky !important;
        top: 0px;
        color:white;
        background-color: #1f3c73;
    }
    
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
    }
    
    #sidebar {
        width: 180px;
        position: fixed;
        top: 50px;
        left: 0;
        height: 100vh;
        z-index: 400;
        background: #ffffff;
        color: black;
        transition: all 0.3s;
        border-right: 1px solid black;
    }
    
    
    #sidebar ul li.active {
        background: #dadadac2;
    }
    
    #sidebar ul li a {
        text-align: left;
    }
    

    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    #sidebar ul li a.focused {
        font-weight: bold;
    }
    
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    #sidebar ul li a i {
        margin-right: 10px;
    }
    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        /* background: grey; */
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
    #sidebar .dropdownBtn{
        position: absolute; 
        top:0; 
        right:-40px; 
        height: 100%; 
        width: 40px; 
        color:black
    }
    
    .dropdown-toggle{
        position: absolute;
    }
    
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 70%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        
    }
    
    a.article,
    a.article:hover {
        background: #dadadac2 !important;
        color: #fff !important;
    }
    
    
    
    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    
    #content {
        width: calc(100% - 180px);
        left: 180px ;
        position:relative;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    #content .edit{
        text-decoration: underline;
        color:skyblue;
    }
    #content .edit:hover{
        color: blue;
        cursor : pointer;

    }

    #content .hideButtons{
        display: none;
    }

    #content #addFacilities {
        text-align: center; 
        background-color: #6161618a;
    }

    #content #addFacilities:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
   
      </style>
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/admin" >지도올인원 Admin Page</a>
      
        <!-- <div class="navbar-nav-scroll">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
              <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/docs/4.4/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/docs/4.4/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://icons.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Icons');">Icons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://themes.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" target="_blank" rel="noopener">Themes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://expo.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');" target="_blank" rel="noopener">Expo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.getbootstrap.com/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank" rel="noopener">Blog</a>
            </li>
          </ul>
        </div> -->
      </header>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="" style="overflow: scroll;">

            <ul class="list-unstyled components">
                <li class="" id = "list_sinchon">
                    <div style="position: relative; width: calc(100% - 40px);">
                        <a href="/admin/sinchon/main" class="" id = "sinchon_main">
                            신촌캠퍼스
                        </a>
                        <a href="#sinchon" data-toggle="collapse" aria-expanded="false"id = "sinchon_dropdown" class="dropdownBtn" >▼</a>
                    </div>
                    <ul class="collapse list-unstyled" id="sinchon">
                        <li>
                            <a href="/admin/sinchon/settings" id = "sinchon_settings" style="text-decoration:underline">캠퍼스 세팅</a>
                        </li>
                        <% Object.keys(buildingData['sinchon']).forEach((i)=>{ %>
                            <li>
                                <a href="/admin/sinchon/<%=buildingData['sinchon'][i].BID%>" id = "sinchon_<%=buildingData['sinchon'][i].BID%>"><%=buildingData['sinchon'][i].BNAME%></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
                <li class="" id = "list_songdo">
                    <div style="position: relative; width: calc(100% - 40px);">
                        <a href="/admin/songdo/main" class="" id = "songdo_main">
                            송도캠퍼스
                        </a>
                        <a href="#songdo" data-toggle="collapse" aria-expanded="false"  id = "songdo_dropdown" class="dropdownBtn">▼</a>
                    </div>
                    <ul class="collapse list-unstyled" id="songdo">
                        <li>
                            <a href="/admin/songdo/settings" id = "songdo_settings" style="text-decoration:underline">캠퍼스 세팅</a>
                        </li>
                        <% Object.keys(buildingData['songdo']).forEach((i)=>{ %>
                            <li>
                                <a href="/admin/songdo/<%=buildingData['songdo'][i].BID%>" id = "songdo_<%=buildingData['songdo'][i].BID%>"><%=buildingData['songdo'][i].BNAME%></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg><i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            
            <h2><%= building %> , <%=buildingData[campus][building].BNAME%></h2>
            <h5>시설 리스트</h5>
            <table id = "facility_list" class="table table-striped" style="font-size: 0.9em; table-layout: fixed; word-break:break-all;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="">시설<br>번호</th>
                    <th scope="col" style="">종류</th>
                    <th scope="col" style="">이름</th>
                    <th scope="col" style="">학기중 평일</th>
                    <th scope="col" style="">학기중 주말</th>
                    <th scope="col" style="">방학중 평일</th>
                    <th scope="col" style="">방학중 주말</th>
                    <th scope="col" style="">위치</th>
                    <th scope="col" style="">특이사항</th>
                    <th scope="col" style="">수정하기</th>
                  </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <th scope="row" colspan="10" id = "addFacilities" >시설 추가하기</td>
                    </tr>
                </tbody>
              </table>
                
            <!-- <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  
  <script type="text/javascript">

    let getFacilityFunc = async ()=>{
        try {  
        const response = await fetch(`/api/<%=campus%>/facility/<%=building%>`, {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
            });

            if(response.ok){
                response.json().then((data)=>{
                    {
                        data.forEach(e=>{
                            var table = document.getElementById('facility_list');
                            table.insertRow(table.rows.length - 1).innerHTML = ` <tr> <th scope="row">${e.FID}</th> <td>${e.FTYPE}</td> <td>${e.FNAME}</td> <td>${e.FTIME_SEM_DAY}</td> <td>${e.FTIME_SEM_END}</td> <td>${e.FTIME_VAC_DAY}</td> <td>${e.FTIME_VAC_END}</td> <td>${e.FLOCATION}</td> <td>${e.FETC1}</td> <td id = "editCell_${e.FID}"><span class=""><a class="edit editFacility">수정</a> | <a class="edit deleteFacility">삭제</a></span><span class="hideButtons"><a class="edit saveFacility ">저장</a> | <a class="edit cancelEdit ">취소</a></span></td></tr>`
                        })

                        Array.prototype.forEach.call(document.getElementsByClassName("deleteFacility"), el=>{
                            el.addEventListener("click", deleteFacilityFunc)
                        })
                        Array.prototype.forEach.call(document.getElementsByClassName("editFacility"), el=>{
                            
                            el.addEventListener("click", editFacilityFunc)
                        })

                        Array.prototype.forEach.call(document.getElementsByClassName("cancelEdit"), el=>{
                            el.addEventListener("click", cancelEditFunc)
                        })

                        Array.prototype.forEach.call(document.getElementsByClassName("saveFacility"), el=>{
                            el.addEventListener("click", saveFacilityFunc)
                        })
                    }
                })
                // location.reload()
                // console.log('ok!', response.status, response.body, response.json());
            } else if (response.status == 403){
                alert("비정상적인 접근입니다.")
            } else {
                response.json().then((data)=>{
                    {
                        alert(data.code)
                    }
                })
                
                // console.log('fail!', response.status, response.body, response.json());
            }
        } catch(err) {
                console.error(`Error: ${err}`);
                }
    }
    
    let deleteFacilityFunc = async (e) => {
        e.preventDefault();
        e.stopPropagation();
        if(!confirm("삭제하시겠습니까?"))
            return;
        
        var raw = e.target.parentNode.parentNode.parentNode
        try {     
            const response = await fetch(`/api/<%=campus%>/facility/${raw.cells[0].textContent}`, {
                method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
            });

            if(response.ok){
                location.reload()
                // console.log('ok!', response.status, response.body, response.text());
            } else if (response.status == 403){
                alert("비정상적인 접근입니다.")
            } else {
                response.json().then((data)=>{
                    {
                        alert(data.code)
                    }
                })
                
                // console.log('fail!', response.status, response.body, response.json());
            }
            
        } catch(err) {
                console.error(`Error: ${err}`);
                }
    }

    let saveFacilityFunc = async (e) => {
        e.preventDefault();
        e.stopPropagation();
        if(!confirm("저장하시겠습니까?"))
            return;
        
        var raw = e.target.parentNode.parentNode.parentNode
        var data = {
            FID : raw.cells[0].textContent,
            FTYPE : raw.cells[1].firstChild.value,
            FNAME : raw.cells[2].firstChild.value,
            FTIME_SEM_DAY : raw.cells[3].firstChild.value,
            FTIME_SEM_END : raw.cells[4].firstChild.value,
            FTIME_VAC_DAY : raw.cells[5].firstChild.value,
            FTIME_VAC_END : raw.cells[6].firstChild.value,
            FLOCATION : raw.cells[7].firstChild.value,
            FETC1 : raw.cells[8].firstChild.value,
        };

        // for (const [key, value] of Object.entries(data)) {
        //     if(value == "" && key != 'FETC1'){
        //         alert("데이터에 공백이 있을 순 없습니다.")
        //         return
        //     }
        // }
        try {     
            const response = await fetch(`/api/<%=campus%>/facility/${raw.cells[0].textContent}`, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data), // body data type must match "Content-Type" header
                    });

            if(response.ok){
                location.reload()
                // console.log('ok!', response.status, response.body, response.text());
            } else if (response.status == 403){
                alert("비정상적인 접근입니다.")
            } else  {
                response.json().then((data)=>{
                    if(data.code == "ER_DUP_ENTRY"){
                        alert("건물번호는 중복될 수 없습니다.")
                    } else if (data.code == "ER_PARSE_ERROR"){
                        alert("건물번호는 비워둘 수 없습니다.")
                    } else if (data.code == "ER_BAD_FIELD_ERROR"){
                        alert("건물번호는 숫자여야 합니다.")
                    } else {
                        alert(data.code)
                    }
                })
                
                // console.log('fail!', response.status, response.body, response.json());
            }
            
        } catch(err) {
                console.error(`Error: ${err}`);
                }
    }

    let cancelEditFunc = (e) => {
        e.preventDefault();
        e.stopPropagation();

        if(!confirm("취소하시겠습니까?"))
            return;
        
        var raw = e.target.parentNode.parentNode.parentNode
        var table = raw.parentNode.parentNode;

        for(var i = 1; i < table.rows[0].cells.length - 1; i++){
            
            raw.cells[i].removeChild(raw.cells[i].firstChild)
            raw.cells[i].innerHTML = tempEditVal[i]
        }
        raw.cells[table.rows[0].cells.length - 1].lastChild.classList.add("hideButtons")
        raw.cells[table.rows[0].cells.length - 1].firstChild.classList.remove("hideButtons")
        
        focusedEditRow = null;

        // var raw = e.target.parentNode.parentNode.parentNode
        // console.log(tempEditRaw, raw)
        // raw.parentNode.replaceChild(tempEditRaw, raw)
        // raw.parentNode.removeChild(raw);
        // document.getElementById('addFacilities').classList.remove("hideButtons")
    }

    var tempEditVal = {}
    var focusedEditRow = null;

    let editFacilityFunc = (e)=>{
        e.preventDefault();
        e.stopPropagation();

        var raw = e.target.parentNode.parentNode.parentNode
        var table = raw.parentNode.parentNode;
        
        if (focusedEditRow != null){

            document.getElementById('facility_list').rows[focusedEditRow].cells[table.rows[0].cells.length - 1].lastChild.lastChild.click()
        }

        if (document.getElementsByClassName("cancelRegister").length > 0){
            document.getElementById('facility_list').rows[table.rows.length-2].cells[table.rows[0].cells.length - 1].lastChild.lastChild.click()
        }

        focusedEditRow = raw.rowIndex;
        let temp = raw.cells

        for(var i = 1; i < table.rows[0].cells.length - 1; i++){
            var input = document.createElement("textarea")
            input.type = "text"
            input.name = `cell_${i}`
            input.style = "width: 100%; resize:both;"
            input.value = temp[i].textContent
            
            tempEditVal[i] = temp[i].textContent
            if(tempEditVal[i] !== ''){
                raw.cells[i].removeChild(raw.cells[i].firstChild)
            }
            raw.cells[i].appendChild(input)
        }
        raw.cells[table.rows[0].cells.length - 1].firstChild.classList.add("hideButtons")
        raw.cells[table.rows[0].cells.length - 1].lastChild.classList.remove("hideButtons")
        
        // document.getElementById('addFacilities').classList.add("hideButtons")
    }

    
    let registerFacilityFunc = async (e) => {
        e.preventDefault();
        e.stopPropagation();
        if(!confirm("등록하시겠습니까?"))
            return;
        
        var raw = e.target.parentNode.parentNode.parentNode
        var data = {
            FTYPE : raw.cells[1].firstChild.value,
            FNAME : raw.cells[2].firstChild.value,
            FBID : <%= building %>,
            FTIME_SEM_DAY : raw.cells[3].firstChild.value,
            FTIME_SEM_END : raw.cells[4].firstChild.value,
            FTIME_VAC_DAY : raw.cells[5].firstChild.value,
            FTIME_VAC_END : raw.cells[6].firstChild.value,
            FLOCATION : raw.cells[7].firstChild.value,
            FETC1 : raw.cells[8].firstChild.value,
        };

        // for (const [key, value] of Object.entries(data)) {
        //     if(value == "" && key != 'FETC1'){
        //         alert("데이터에 공백이 있을 순 없습니다.")
        //         return
        //     }
        // }
        try {     
            const response = await fetch('/api/<%=campus%>/facility', {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, cors, *same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data), // body data type must match "Content-Type" header
                    });

            if(response.ok){
                response.text().then(data=>{
                    location.reload()

                })
                
                // console.log('ok!', response.status, response.body, response.text());
            } else if (response.status == 403){
                alert("비정상적인 접근입니다.")
            } else  {
                response.json().then((data)=>{
                    if(data.code == "ER_DUP_ENTRY"){
                        alert("건물번호는 중복될 수 없습니다.")
                    } else if (data.code == "ER_PARSE_ERROR"){
                        alert("건물번호는 비워둘 수 없습니다.")
                    } else {
                        alert(data.code)
                    }
                })
                
                // console.log('fail!', response.status, response.body, response.json());
            }
            
        } catch(err) {
                console.error(`Error: ${err}`);
                }
    }

    let cancelRegisterFunc = async (e) => {
        e.preventDefault();
        e.stopPropagation();
        if(!confirm("취소하시겠습니까?"))
            return;
        var raw = e.target.parentNode.parentNode.parentNode
        raw.parentNode.removeChild(raw);
        document.getElementById('addFacilities').classList.remove("hideButtons")

    }
                    
    document.getElementById('addFacilities').addEventListener('click',(e)=>{
        e.preventDefault();
        e.stopPropagation();
        var tbody = e.target.parentNode.parentNode
        var row = tbody.insertRow(tbody.parentNode.rows.length-2)

        if (focusedEditRow != null){
            document.getElementById('facility_list').rows[focusedEditRow].cells[tbody.parentNode.rows[0].cells.length - 1].lastChild.lastChild.click()
        }

        row.insertCell(0).appendChild(document.createTextNode(" ... "))
        for(var i = 1; i < tbody.parentNode.rows[0].cells.length - 1; i++){
            var input = document.createElement("textarea")
            input.type = "text"
            input.name = `cell_${i}`
            input.style = "width: 100%; resize:both;"
            row.insertCell(i).appendChild(input)
        }
        var a = document.createElement("a")
        a.className = "edit registerFacility";
        a.innerHTML = "등록"
        a.addEventListener('click', registerFacilityFunc);
        
        var txt = document.createTextNode(" | ")

        var b = document.createElement("a")
        b.className = "edit cancelRegister";
        b.innerHTML = "취소"
        b.addEventListener('click', cancelRegisterFunc);
        var span = document.createElement("span")
        span.appendChild(a)
        span.appendChild(txt)
        span.appendChild(b)
        row.insertCell(tbody.parentNode.rows[0].cells.length - 1).appendChild(span)
        document.getElementById('addFacilities').classList.add("hideButtons")
    });

    window.onload = async () =>{
        //Focus & Activate Effect
        document.getElementById('list_<%=campus%>').classList.add("active")
        let dbtn = document.getElementById('<%=campus%>_dropdown')
        dbtn.setAttribute("aria-expanded", "true");
        dbtn.classList.remove("collapsed");
        document.getElementById("<%=campus%>").classList.add("show")
        
        document.getElementById('<%=campus%>_<%=building%>').classList.add("focused")
        
        await getFacilityFunc();
        

        
    
    }
</script>


</body>

</html>